/** Importação de fonte */
html{scroll-behavior: smooth;} /** Define a forma como o rolamento da página deve se comportar */

html, .conteudo{
    overflow-x: hidden; /** Esconde o conteudo que for maior que o tamanho da resolução horizontalmente */
}

.conteudo{
    background-color: black; /* Aplica a cor preta a o fundo */
    font-family: 'Zen Kaku Gothic Antique', sans-serif; /* Aplica a família de fontes sans-serif ao texto */
    margin: 0; /* Especifica 0 como margem de todas as direções */
}

/* Estilização do cabecalho */

.header{
    width: 100%; /* Especifica que todo o tamanho da página deve ser ocupada horizontalmente */
    display: block; /* Gera uma caixa no local especificado como um elemento de bloco.*/
    position: fixed; /* O elemento tem a posição fixada onde ele está inserido */
}

.navbar{
    display: block;
    background-color: #400000;
    top:0; /** Define que não há margem ou nenhuma distãncia na região superior */
    left:0;  /** Define que não há margem ou nenhuma distãncia na região esquerda */
    position: fixed;   
    width: 100%;       
}               

.navbar .menu{
    position: relative; /* O elemento é posicionado com o fluxo/dinâmica normal do documento */
}

.navbar .menu ul{       
    padding: 0; /** padding define uma distância entre o conteúdo [interno] de um elemento e suas bordas, nesse caso é 0 */
    margin: 0;  /** define a área de margem [externa] nos quatro lados do elemento, nesse caso é 0 */
    list-style: none; /** Define o marcador da lista (bolinha, ponto, quadrado, seta), nesse caso é nenhuma */
    float: right; /** Define a disposição (flutuação) a direita */
}

.navbar .menu a {
    padding: 20px 20px; /* Vertical horizontal */ 
	display: inline-block; /** O elemento será apresentado como se fosse a única caixa (box) da linha (row)**/
    
	/* visual do link */
	color: #ffffff;
	text-decoration: none;
}

.navbar .menu a:hover{
    background-color: #7F0000;  
}

.logo_div{
   position: absolute; /** A posição do elemento é tirada do fluxo normal da página e definido apenas a partir do elemento superior */
}

.navbar .logo{
    float:left;
    color: #ffffff;
    font-size:32px; /** Define o tamanho da fonte/texto */
    text-decoration: none;
    margin-top: 15px; /** Define a margem superior como sendo de 15 pixels */
    margin-left: 70px; /** Define a margem a esquerda como sendo de 70 pixels */
    
}

h1{
    color: white; 
    font-family: 'Bebas Neue', cursive;
    font-size: 72px;
    /** em é uma medida relativa definida em relação ao seu elemento pai, 
    entao sera 7 vezez em relacao ao elemento pai do H1 */
    width: 7em;
    letter-spacing: 0.4rem; /** Define a distância entre as letras das palavras */
}

/** Estilo da tag section **/

section{
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 4rem;
    color: #ffffff;
}

/** Estilização da seção de Início */

.inicio {
    margin-bottom: 0;
    display: grid; /** Define que a disposição interna dos elementos desse estilo será como grid () **/
    grid-template-areas: "inicio-descrição inicio-foto"; /** Define duas grids a partir dos seus nomes**/
}

#inicio-descrição{      
    padding-top: 15%; /** o padding superior terá o tamanho de 15% do tamanho elemento-pai de #inicio-descrição */
}

.inicio p{
    font-size: 1.5rem;
    text-align: justify;
    font-family: 'Bebas Neue', cursive;
    margin-right: 8rem;
}

/* Animacao */

@keyframes type{ 
from { width: 0; } 
} 

/**
Keyframe que define o movimento da animação
**/
@keyframes type2{
0%{width: 0;}
50%{width: 0;}
100%{ width: 100; } 
} 
  
@keyframes blink{
to{opacity: .0;}
}

.animacao{    
    color: white; 
    background-color:#400000;
    font-family: 'Bebas Neue', cursive;
    font-size: 72px;
    margin: 10px 0 0 2px;
    white-space: nowrap; /** Reduz os espaços vazios, sem quebra de linha**/
    overflow: hidden; /** Tudo que sobrecarregar/ultrapassar os limites deve ser escondido */
    width: 5em;
    animation: type 2s steps(60, end); /** Aplica a animação type por 2 segundos */
  }
  
h1:nth-child(2){ /** Aplica a animação aos 2 próximos elementos de título seguintes (com e sem animação) */
    animation: type2 4s steps(60, end);
}

#inicio-foto img{
    height:90%; 
    width: 80%; 
    margin-top: 10%; 
    border-radius: 50% 50% 0% 0%; /** Define o radio da borda esquerda e superior como sendo 50% do tamanho do seu elemento pai */
    background-color: #800B0B; 
    bottom: 0;
}

@media (max-width: 1200px) {
    #inicio-foto {
        display: none;
    }
}

@media (min-width: 1200px) {
    #inicio-foto {
        height: 650px;
        width: 550px;
    }
}

@media (min-width: 1920px) {
    #inicio-foto {
        height: 950px;
        width: 850px;
    }
}

section h2{    
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.4rem; /** Define a distância entre as letras das palavras */
}

/** Estilização da seção de habilidades **/

.habilidades {
    background-color: #400000;  
    padding-bottom: 2rem;
}

.habilidades p{
    /* 1.5rem =24px */
    font-size: 1.5rem;
    text-align: justify; /** Alinha o texto de forma justificada */  
}

.habilidades .wrapper {
    display: grid;
    grid-column-gap: 3em; /** Define a distância entre as colunas do grid como sendo de 3em */
    grid-row-gap: 3em; /* Define a distãncia entre as linhas do grid como sendo de 3em */
    text-align: center;    
    grid-template-columns: 1fr 1fr 1fr; /** Define uma grid de 3 colunas separados pela distância de 1fr**/
  }

.habilidade .wrapper .celula{
    background-color:#800B0B;
    height: 4em;
    align-items: center;
    margin: 4em;
}

.celula i:hover{ /** Estilo aplicado quando o mouse for passado sobre a tag i do elemento com 'celula' **/
    color: #E50000;
    transform: scale(1.25); /** Os elementos tem seu tamanho (escala) aumentado em 25% **/
}

/** Estilização da seção de experiência */

.experiencia .wrapper{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; /** Define uma grid de 3 colunas separados pela distância de 1fr**/
}

.experiencia .card {
    /* Sombras para o efeito de card */   
    box-shadow: 0 4px 8px 0 #808080;  /** Aplica sombra ao elemento como se fosse uma caixa/box */
    transition: 0.3s; /** Aplica os efeitos no intervalo de 3 milésimos */
    background-color: #808080;    
    color: #000;
    height: 25rem;
    max-width: 20rem; /** Define o tamanho máximo possível do card como sendo de 20 em relação ao tamanho da página inteira */
    border-width:1px; /** Define o tamanho da borda como sendo de 1 px **/
    border-style:solid; /* Define a borda como sólida (uma cor) */
    border-color: #ffffff; /** Define a cor da borda como sendo branco */
}

.experiencia .card img{
    height: 50%; /* Altura 50% em relação ao elemento-pai (metade) */
    width:100%; /* Largura 100% em relação ao elemento-pai (o mesmo tamanho) */
}


/** Aplica as seguintes propriedades ao passar o mouse por cima do elemento */
#card_amazon:hover #img_amazon{
    content: url(assets/imgs/amazon.jpg); /** Imagem definida no caminho especificado */
}

#card_microsoft:hover #img_microsoft{
    content: url(assets/imgs/microsoft.jpeg);
    
}

#card_stark:hover #img_stark{
    content: url(assets/imgs/stark-industries.jpg);
}

/* Com o passar do mouse, cria-se uma sombra mais profunda */
.experiencia .card:hover{
    box-shadow: 0 8px 16px 0 #400000;
    background-color: #400000;
    border-color:#E50000;
    color: #ffffff;
}


.experiencia .card_conteudo{
    padding: 2px 4px;
    padding-left: 30px;
    padding-right: 10px;
}

/** Estilização da seção de Projetos **/

.projetos{
    background-color:#400000;
}

.projetos p,h3{
    font-weight: 300; /** Define o tamanho/peso do negrito da fonte */
}

.projetos p{    
    font-size: 1.5rem;
    width: 50%;
    text-align: left;
}

.projetos h3{    
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;    
    font-weight: bold;
    color: white;

}

.projetos .descricao p{
    font-size: 1.2rem;
    text-align: justify;
    width: 70%;
}

.projetos .img-projeto img{

    width: 100%;
    max-width: 500px;
    height: auto;

    margin-top: 4rem;    
    box-shadow: 0 4px 8px 0 #800B0B;
    transition: 0.3s;
}

.projetos .img-projeto img:hover{
    box-shadow: 0 8px 16px 0 #E50000;

}

.projetos .wrapper{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.img-projeto{grid-area: img-projeto;};
.descricao{grid-area: descricao;}

#projeto1, #projeto2 , #projeto3{
    display: grid;
    grid-template-areas: 'descricao img-projeto';
}

.btn{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 28px;
    padding-right: 28px;
    border: none;
    /** Define que o cursor deve ser alteado para um ponteiro 
    quando o mouse estiver posicionado no botao */
    cursor: pointer;

    font-family: 'Bebas Neue', coursive;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    width: auto;
    transition: 0.3s;
}

.btn:hover{
    transition: 0.3s;
}

.acessar{
    color: #ffffff;
    background-color: black; 
}

.acessar:hover{
    color: #E50000;
    background-color: #7F0000; 
}

.projeto{
    margin-bottom: 5rem;
}

/* #projeto2{
    display: grid;
    grid-template-areas: 'img-projeto descricao ';
}

#projeto2 .descricao{
    width: 100%;  
    margin-left: 16em;    
} */


/** Estilização da seção de contato **/

.contato{    
    text-align: center;
    height: 100vh;       
}

.contato h2{
    width: 100%;
    margin-left: 0;
    font-size: 5rem;
}

.contato p{
   font-size: 1.2rem;  
   padding-left: 20rem;
    padding-right: 20rem;  
}


.contatar{
    color: #800B0B;
    background-color: #ffffff; 

    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
}

.contatar:hover{
    background-color: #ffffffb0; 
}

.social{
    margin-top: 2rem;
}

.social a{
    margin-left: 1rem;
    margin-right: 1rem;
}

.social i{
    color: #ffffff;
}

.social i:hover{
    color: #ffffffb0;
}


/** Estilização do rodape **/
footer{
    background-color:#800B0B;
    color: #ffffff;
    width: 100%;    
    position: fixed;
    bottom: 0;
    left: 0; 
    flex-shrink: 0; /** Os itens flexs contidos no elemento não podem ser maiores que o fator determinado aqui */
}

li{
    color: white;    
}