body{
    background-color: black;
    color: white;
    font-family: 'Bebas Neue', coursive;    
}

header{
    width: 100%;
    display: block;    
    position: fixed;
}

.navbar{
    display: block;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #400000;
    width: 100%;
    text-decoration: none;
}

.navbar .logo{
    float: left;
    font-size: 32px;    
    margin-top: 15px;
    margin-left: 70px;
}

.navbar .menu{
    float: right;
    padding: 0;
    margin: 0;
}

.navbar .menu a{
    display: inline-block;
    padding: 20px 20px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.navbar .menu a:hover{
    background-color: #7F0000;
    color: yellow;
}

section{
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 4rem;
}

#inicio{
    margin-top: 8%;
    margin-bottom: 0;
}

#inicio p{
    font-size: 25px;
    text-align: justify;
    margin-right: 8rem;
}

#inicio h1{
    background-color: #400000;
    font-size: 72px;
    margin: 10px 0 0 2px;
}